html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

#top-bar {
    width: 100%;
    background-color: rgb(159, 221, 102);
    border: 2px solid black;
    text-align: center;
    padding: 1rem 0;
    box-sizing: border-box;
}

.inverted {
    filter: invert(1);
}

#content-body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

#bottom-bar {
    width: 100%;
    background-color: rgb(152, 219, 50);
    border: 2px solid black;
    padding: 1rem 0;
    box-sizing: border-box;
}

button {
 appearance: button;
 background-color: #1899D6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 box-sizing: border-box;
 color: #FFFFFF;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
 font-weight: 700;
 letter-spacing: .8px;
 line-height: 20px;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 13px 19px;
 text-align: center;
 text-transform: uppercase;
 touch-action: manipulation;
 transform: translateZ(0);
 transition: filter .2s;
 user-select: none;
 -webkit-user-select: none;
 vertical-align: middle;
 white-space: nowrap;
}

button:after {
 background-clip: padding-box;
 background-color: #1CB0F6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 bottom: -4px;
 content: "";
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 z-index: -1;
}

button:main, button:focus {
 user-select: auto;
}

button:hover:not(:disabled) {
 filter: brightness(1.1);
}

button:disabled {
 cursor: auto;
}

button:active:after {
 border-width: 0 0 0px;
}

button:active {
 padding-bottom: 10px;
}

#main-page-info,
.content-body-left-side {
    border: 2px solid black;
    margin: 1%;
    padding: 1%;
    width: calc(60% - 2rem);
    box-sizing: border-box;
    float: none;
}

.pictures {
    border: 2px solid black;
    margin: 1%;
    padding: 1%;
    width: calc(35% - 2rem);
    box-sizing: border-box;
    background-color: yellow;
    height: auto;
    margin-left: auto;
}

#nav-bar {
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    #main-page-info,
    .content-body-left-side,
    .pictures {
        width: 100%;
        margin: 0 0 1rem 0;
    }
    .pictures {
        margin-left: 0;
    }
}
