#top-bar {
    height: 8%;
    width: 100%;
    background-color: orange;
    border: 2px solid black;
    text-align: center;
}

.inverted {
    filter: invert(1);
}

#content-body {
    height: 80%;
    width: 100%;
    background-color: darkseagreen;
    border: 2px solid black;
}

#bottom-bar {
    height: 12%;
    width: 100%;
    background-color: greenyellow;
    border: 2px solid black;
}

button {
 appearance: button;
 background-color: #1899D6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 box-sizing: border-box;
 color: #FFFFFF;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
 font-weight: 700;
 letter-spacing: .8px;
 line-height: 20px;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 13px 19px;
 text-align: center;
 text-transform: uppercase;
 touch-action: manipulation;
 transform: translateZ(0);
 transition: filter .2s;
 user-select: none;
 -webkit-user-select: none;
 vertical-align: middle;
 white-space: nowrap;
}

button:after {
 background-clip: padding-box;
 background-color: #1CB0F6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 bottom: -4px;
 content: "";
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 z-index: -1;
}

button:main, button:focus {
 user-select: auto;
}

button:hover:not(:disabled) {
 filter: brightness(1.1);
}

button:disabled {
 cursor: auto;
}

button:active:after {
 border-width: 0 0 0px;
}

button:active {
 padding-bottom: 10px;
}

#main-page-info {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    width: 40%;
}

#nav-bar {
    align-content: center;
}
